<?xml version="1.0"?>
<!-- UAV0 前向单束激光雷达 + 虚拟楼体越障专用演示。 -->
<launch>
  <arg name="fcu_url" default="udp://:14540@127.0.0.1:14580" />
  <arg name="tgt_system" default="1" />
  <arg name="start_rviz" default="true" />

  <env name="GEOGRAPHICLIB_DATA" value="/usr/share/GeographicLib" />

  <node name="target_motion_simulator_node"
        pkg="multi_uav_strike"
        type="target_motion_simulator_node"
        output="screen"
        respawn="false">
    <rosparam command="load"
              file="$(find multi_uav_strike)/config/target_motion_simulator.yaml" />
  </node>

  <include file="$(find multi_uav_strike)/launch/per_uav_sitl_group.launch">
    <arg name="uav_name" value="uav0" />
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="flow" value="lidar_building_uav0" />
    <arg name="device_id" value="0" />
    <arg name="device_sn" value="1-1" />
    <arg name="gather_partners" value="" />
    <arg name="world_ref_auto" value="true" />
    <arg name="lidar_building_demo" value="true" />
  </include>

  <node if="$(arg start_rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find multi_uav_strike)/rviz/view_strike_triple.rviz" />
</launch>
